@import url('https://fonts.googleapis.com/css2?family=Gurajada&family=Poppins:ital,wght@0,300;0,800;0,900;1,300;1,700;1,800;1,900&family=Rajdhani:wght@500;600;700&display=swap');

body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0
}
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
    
}
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    }

.logos {
    display: flex;
}
.logo:nth-child(2) {
    transition-delay: 200ms ;
}
.logo:nth-child(3) {
    transition-delay: 400ms ;
}
.logo:nth-child(4) {
    transition-delay: 600ms ;
}
img {
    width: 100px;
    height: 150px;
}